*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  position: relative;
  z-index: 1;
}
.menu .menu_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: none;
  padding: 0 60px 0 60px;
  margin: 39px 0 0 0;
}
.menu .menu_container img#logo {
  width: 52px;
  height: 37px;
  cursor: pointer;
}
.menu .menu_container ul.menu_container_navbar {
  display: flex;
}
.menu .menu_container ul.menu_container_navbar li {
  list-style: none;
  padding: 0 45px 0 45px;
}
.menu .menu_container ul.menu_container_navbar li a {
  text-decoration: none;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 1.5em;
  color: #000000;
  font-weight: 700;
}
.menu .menu_container .menu_container_search {
  display: flex;
  width: 220px;
  background: #FFFFFF;
}
.menu .menu_container .menu_container_search img#iconSearch {
  width: 19px;
  height: 19px;
  margin: auto 10px auto 13px;
  cursor: pointer;
}
.menu .menu_container .menu_container_search input#inputSearch {
  background: none;
  outline: none;
  border: none;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 1.125em;
  color: #9C9696;
  font-weight: 400;
}
.menu .menu_container img#iconCompras {
  width: 26px;
  height: 29px;
  margin: auto 0;
  cursor: pointer;
}

.containerProduto {
  margin: -89px 0 0 0;
  display: flex;
}
.containerProduto .containerProduto_descricao {
  width: 540px;
  height: 914px;
  background: #ECECED;
  padding: 192px 72px 0 111px;
  margin: 0;
}
.containerProduto .containerProduto_descricao h1#titulo {
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 3.75em;
  color: #000000;
  font-weight: 700;
  line-height: 70px;
}
.containerProduto .containerProduto_descricao p#descricao {
  margin: 21px 0 44px 0;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 1em;
  color: #9C9696;
  font-weight: 700;
  line-height: 19px;
}
.containerProduto .containerProduto_descricao p#valor {
  margin-bottom: 30px;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 2.5em;
  color: #000000;
  font-weight: 700;
}
.containerProduto .containerProduto_descricao button#botao {
  background: #FF0000;
  padding: 33px 79px 33px 75px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.6s;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 700;
}
.containerProduto .containerProduto_descricao button#botao:hover {
  background: #e60000;
}
.containerProduto .containerProduto_fotoProduto {
  flex-direction: column;
  width: 900px;
  height: 914px;
  background: #C4C4C4;
  padding: 118px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerProduto .containerProduto_fotoProduto img#fotoAmpliada {
  width: 597px;
  height: 511px;
}
.containerProduto .containerProduto_fotoProduto .containerProduto_fotoProduto_slide {
  width: 100%;
  height: auto;
  background: none;
  padding: 0 18px 0 18px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
}
.containerProduto .containerProduto_fotoProduto .containerProduto_fotoProduto_slide img#imgTenis1 {
  width: 270px;
  height: 183px;
  cursor: pointer;
}
.containerProduto .containerProduto_fotoProduto .containerProduto_fotoProduto_slide img#imgTenis2 {
  width: 250px;
  height: 188px;
  cursor: pointer;
}
.containerProduto .containerProduto_fotoProduto .containerProduto_fotoProduto_slide img#imgTenis3 {
  width: 270px;
  height: 183px;
  cursor: pointer;
}

.containerLinks {
  width: 100%;
  height: auto;
  background: #ECECED;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
}
.containerLinks .containerLinks_interno {
  width: 100%;
  max-width: 753px;
}
.containerLinks .containerLinks_interno ul {
  list-style: none;
  display: flex;
  padding: 0 77px 0 47px;
}
.containerLinks .containerLinks_interno ul li {
  padding: 0 45px 0 45px;
}
.containerLinks .containerLinks_interno ul li a {
  text-decoration: none;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 1.125em;
  color: #000000;
  font-weight: 700;
}
.containerLinks .containerLinks_externo {
  width: 437px;
  height: 166px;
  background: #000000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLinks .containerLinks_externo a#linkExterno {
  text-decoration: none;
  padding: 0 17px 0 0;
  font-family: "Roboto", "helvetica", sans-serif;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 28px;
}
.containerLinks .containerLinks_externo img#iconSeta {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */