@import "reset";
@import "mixins";


//cores utilizadas
$text-menu:#000000;
$titulo:#000000;
$descricao:#9C9696;
$text-search:#9C9696;
$text-valor:#000000;
$text-btn:#FFFFFF;

$bg-cinza-claro:#ECECED;
$bg-cinza-escuro:#C4C4C4;
$bg-black:#000000;
$bg-btn:#FF0000;


//menu

.menu{
    //caixa que guarda a icone logo, menu, caixa pesquisa e icone e icone de compras
   
    .menu_container{
        display: flex;
        justify-content: space-between;
        @include container(100%, 50px, #eee, 0 60px 0 60px, 39px 0 0 0,no);
        
        img#logo{
            width: 52px;
            height: 37px;
            cursor: pointer;
            
        }

        ul.menu_container_navbar{
            display: flex;

            li{
                list-style: none;
                padding: 0 45px 0 45px;

                a{
                    text-decoration: none;
                    @include tipografia(24,$text-menu,700,0 )
                }
            }
        }

        .menu_container_search{
            display: flex;
            width: 220px;
            background: #FFFFFF;

            img#iconSearch{
                width: 19px;
                height: 19px;
                margin: auto 10px auto 13px;
                cursor: pointer;
                
            }

            input#inputSearch{
                background: none;
                outline: none;
                border: none;
                @include tipografia(18,$text-search,400,0);
            }
        }

        img#iconCompras{
            width: 26px;
            height: 29px;
            margin: auto 0;
            cursor: pointer;
           
        }
    }
}

//section 

.containerProduto{


    .containerProduto_descricao{
        @include container(540px,914px,$bg-cinza-claro,103px 72px 0 111px,0,no);

        h1#titulo{
            @include tipografia(60,$titulo,700,70px);
        }

        p#descricao{
            margin:21px 0 44px 0;
            @include tipografia(16,$descricao,700,19px);
        }

        p#valor{
            margin-bottom:30px;
            @include tipografia(40,$text-valor,700,0 )
        }

        button#botao{
            background: $bg-btn;
            padding:33px 79px 33px 75px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.6s;
            @include tipografia(24, $text-btn,700,0);

            &:hover{
                background: darken($bg-btn , 5%);
            }
            
        }
    }
}